#app {
    width: 375px;
    height: 812px;
    border: 1px solid black;
    margin: 30px auto 0;
    padding-top: 42px;
}
/* heder */
#app header {
    border: 1px solid black;
    display:flex;
    padding: 16px;
    justify-content: space-between;
    height: 56px;

}
#app header h1 {
    font-size: 1.25rem;
}
#app header a {
}
#app header .right {
    display: flex;
}
#app header .right a{
    margin-right: 16px;
    width: 24px;
    height: 24px;
    background-color: gray;
/*     display: inline-block; 위에 flex 줘서 안줘도 된다.*/
}
#app header .right a:last-child {
    margin: 0;
}

/* login */
#app main {}
/* top adver */
#app main .adver {}
#app main .adver1 {
    height: 85px;
    background-color: gray;
    margin: 0 0 20px;
}
#app main > h2 {
    margin: 0 16px 12px;
}
#app main h2 a {}
#app main h2 a em {
    font-weight: 700;
}
#app main > .category {
    margin: 0 16px 56px;
    border: 1px solid black;
    display: flex;
    flex-flow: row wrap;
    padding: 10px 0;
}
#app main > .category a {
    border: 1px solid gray;
    width: calc(100% / 4); /* 부모의 넓이에서 4로 나눈다. */
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 0 0 24px;
}
#app main > .category a:nth-child(5),
#app main > .category a:nth-child(6),
#app main > .category a:nth-child(7),
#app main > .category a:nth-child(8) { margin: 0;}
#app main > .category a img {
    width: 42px;
    height: 42px;
    border: 1px solid black;
    margin: 0 0 0px;
}
#app main > .category a span {
    font-size: 0.75rem;
}
/* notice */
#app main .notice {
    padding: 16px;
    border: 1px solid black;
    display: flex; 
    align-items: center;
    margin: 0 0 5px;

}
#app main .notice img {
    width: 24px;
    height: 24px;
    margin-right: 14px;
}
#app main .notice a {
    font-size: 0.75rem;
}
/* bottom adver */
#app main .adver2 {
    height: 100px;
    margin: 0 0 5px;
    background-color: gray;
}
/* service */
#app main .service_wrap {
    padding: 10px 16px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    margin: 0 0 5px;
}
#app main .service_wrap h2 {}
#app main .service_wrap .search {
    display: flex; 
    align-items: center;
}
#app main .service_wrap .search img {
    margin-right: 10px;
    width: 16px;
    height: 16px;
    border: 1px solid gray;
}
#app main .service_wrap .search span {
    font-size: 0.75rem;
}
/* news */
#app main h3 {
    font-size: 0.75rem;
    padding: 10px 16px;
    border: 1px solid black;
    margin: 0 0 18px;
}
#app main .news_category {
    border: 1px solid black;
    margin: 0 16px;
    display: flex; flex-flow: row wrap;
}
#app main .news_category a {
    border: 1px solid black;
    width: calc(100% / 2);
    display: flex; align-items: center;
    margin: 0 0 16px;
}
#app main .news_category a img {
    width: 24px;
    height: 24px;
    background-color: gray;
    margin-right: 0; /* 이미지와 글자사이여백 */
}
#app main .news_category a span {
    font-size: 0.875rem;
}