main {
    font-family: "Noto Sans KR", sans-serif;
    text-align: center;
}
main h1 {font-size: 3.125rem; font-weight:700; padding-bottom:14px;}
main > p {font-weight: 300; padding-bottom:40px;}
/* 자간공통 */
main > p, 
main .contents_bg > p,
main .contents_bg .vision h2 {letter-spacing:-0.2px;}
main .contents_bg {
    padding-top:40px;
    background-color: #f5f5f5;}
main .contents_bg > p {
    padding-bottom:30px;
    line-height: 30px;}
main .contents_bg .vision {}
main .contents_bg .vision h2 {
    padding-top:80px; padding-bottom: 30px;
    color: #36b4e5; font-size:1.875rem;}
main .contents_bg .vision p {line-height:45px; font-size:2.188rem;}