main {
    width:859px;
    padding:60px 56px;
    text-align:center;
    background-color:#F5F5F5;
    font-family:'Noto Sans KR', sans-serif;
}
main h1 {
    font-size:1.5rem; 
    line-height:1.5;
    letter-spacing:-0.4px;
    color:#888;
}
main .info {
    font-size: 1.5rem;
    line-height: 1.5;
    letter-spacing: -0.4px;
    font-weight:700; color:#000;
    margin:63px 0 10px;
    background-color: aqua;
}
main .t1 {
    width:100%;
}
main .t1 thead {
    background-color:#00155E; color:#fff;
}
main .t1 thead tr {}
main .t1 thead tr th {
    text-align:center;
    /* line-height:57px; */
    padding:20px 0;
    border:1px solid #aaa;
    font-size:1.25rem; font-weight:700;
}
main .t1 tbody {}
main .t1 tbody tr {}
main .t1 tbody tr th {
    text-align:center;
}
main .t1 tbody tr td {}
main .t1 tbody tr th,
main .t1 tbody tr td {
    font-size:1.25rem;
    border:1px solid #aaa;
    line-height:54px;
}
main .t1 tbody tr th,
main .t1 tbody tr:nth-child(1) td:nth-child(4) {
    font-weight:700;
}
main .t1 tbody tr:nth-child(1) td:nth-child(4) {line-height:1.5;}
/* 크기고정(열) */
main .t1 tbody tr:nth-child(1) td:nth-child(2) {width:105px;}
main .t1 tbody tr:nth-child(1) td:nth-child(3) {width:207px;}
/* 해당동 색상 */
main .t1 tbody tr:nth-child(1) td:nth-child(3),
main .t1 tbody tr:nth-child(3) td:nth-child(3),
main .t1 tbody tr:nth-child(5) td:nth-child(3),
main .t1 tbody tr:nth-child(2) td:nth-child(2),
main .t1 tbody tr:nth-child(4) td:nth-child(2),
main .t1 tbody tr:nth-child(6) td:nth-child(2) {color:#888;}