main {
    background-image: url(https://i.pinimg.com/originals/d7/9f/b6/d79fb642ae6ddd2afc12f3f47edacc58.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: #FDF6E6;
}
main h1 {
    padding-top: 400px;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
}
main p {}
main ul {}
main ul li {}
main p {}