main {
    width:1024px;
    font-family:'Noto Sans KR', sans-serif;
    background-color:lightgray;
    margin:0 auto;
}
main > * {
    width:500px;
    background-color:yellow;
    margin:84px auto 0;
}
main h1 {
    font-size:4.375rem; font-weight:700;
    letter-spacing:-0.2px;
    margin-bottom:25px;
}
main p {
    font-size:1.25rem; letter-spacing:-0.2px;
    margin-bottom:57px;
}
main #login_frm {
    background-color:aqua;
}
main #login_frm fieldset {}
main #login_frm fieldset dl {}
main #login_frm fieldset dl dt,
main #login_frm fieldset h2 {
    font-size:1.875rem; letter-spacing:-0.2px;
    font-weight:700; margin-bottom:18px;
}
main #login_frm fieldset dl dd {
    margin-bottom:38px;
}
main #login_frm fieldset dl dd input[name^=user] {
    width:100%; line-height:53px;
    padding-left:15px;
    border:1px solid #aaa;
    border-radius:10px;
    color:#aaa;/*input 입력 글자 색상*/
}
main #login_frm fieldset dl dd input[name^=user]::placeholder {color:#ff0000;}
main #login_frm fieldset h2 {}
main #login_frm fieldset .btn {}
main #login_frm fieldset .btn button {
    width:100%; line-height:53px;
    font-weight:700; letter-spacing:-0.2px;
    border-radius:10px;
    border:1px solid #aaa;
}
main #login_frm fieldset .btn #login_btn {
    background-color:#222; color:#fff;
    margin-bottom:18px;
}
main #login_frm fieldset .btn #login_google_btn {
    background-color:#fff; color:#222;
}
main .join_link {
    text-align:center; letter-spacing: -0.2pxc;
}
main .join_link a {font-weight:700;}