html {scrollbar-width: 0px; scrollbar-color: #D9D9D9 #f1f1f1;}
/* Opera */
html::-o-scrollbar {width: 2px;}/*스크롤바 크기*/
html::-o-scrollbar-thumb {background-color: #222;border-radius: 5px;}/*스크롤 드래그바*/
html::-o-scrollbar-thumb:hover {background-color: #555;}
/* webkit- 크롬, 사파리, 엣지 브라우저 독장용(브라우저엔진) */
::-webkit-scrollbar {width: 10px;}/*스크롤바 크기*/
::-webkit-scrollbar-track {box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);}/*스크롤바 배경*/
::-webkit-scrollbar-thumb {background-color: #222;border-radius: 5px;}/*스크롤 드래그바*/
::-webkit-scrollbar-thumb:hover {background-color: #555;}
main {
    background-color: #F5F5F5;
    width: 1024px;
    font-family:'Noto Sans KR', sans-serif;
    margin:0 auto;
    letter-spacing:-0.2px;
    font-size: 1rem;
}
main > * {
    width:612px;
    margin:0 auto;
}
main h1 {
    padding: 0 246px;
}
main h1 a {}
main h1 a img {
    padding: 41px 0;
}
/* 회원가입약관 */
main .law {
    background-color: #fff;
    line-height: 2;
    width: 612px;
    height: 200px;
    overflow-y: auto;
    overflow-x: auto;
    border-radius: 10px;

}
main .law h2 {
    font-size: 0.75rem;
    font-weight: 400;
    margin-bottom: 50px;
}
main .law h3 {
    font-size: 0.75rem;
    font-weight: 400;
    margin-bottom: 20px;
}
main .law p {
    font-size: 0.75rem;
    font-weight: 400;
    margin-bottom: 20px;
}
/* 회원가입양식 */
main #join_frm {
    width: 612px;
    margin-top: 56px;
}
main #join_frm .user_info dl {
}
main #join_frm .user_info dl dt{
    width: 156px;
    float: left;
    font-size: 1rem;
    font-weight: 400; 
}
/* 제목공통 */ 
main #join_frm .user_info dl dt span {
    color: #FF0000 ;
}/* 필수표시 */
main #join_frm .user_info dl dd {
    width: 300px;
    border-radius:5px; 
    border:0;
    float: left;
    height: 40px;
    margin-bottom: 10px;
}
/* 내용공통 */
main #join_frm .user_info dl dd:nth-child(3n) {
    width: 156px;
}/* 내용(버튼위치,빈) 공통 */
/* 아이디, 비밀번호, 확인, 이름 이메일, 휴대폰 입력 input 공통 선택자(user)로 묶음 */
main #join_frm .user_info dl dd input[name=phonnumber] {
    width: 245px;
    height: 40px;
    border: 1px solid #aaa;
    border-radius:5px;
}
main #join_frm .user_info dl dd input[name^=user] {
    color: #AAAAAA;
    background-color:
    #fff;
    width: 300px;
    height: 40px;
    border: 1px solid #aaa;
    border-radius:5px;
}
/* 중복확인(아이디,이메일), 이메일번호 받기 공통 선택자 */
main #join_frm .user_info dl dd button[id$=btn] {
    color: #fff;
    background-color: #9E00B7;
    border: 1px solid #9E00B7;
    padding: 10px 34.5px;
    border-radius:5px;
}
/* 휴대폰 */
main #join_frm .user_info dl dd select[name=mobile] {
    background-color: aqua;
    width: 50px;
    height: 40px;
    border: 1px solid #aaa;
    border-radius: 5px;
    appearance: none; /* 셀렉트의 기본 화살표 숨기기 */
    background-image: url(../images/arrow_drop_down.svg);
    background-repeat: no-repeat;
    /* background-position:x축값 y축값; */
    /* background-position:10px 20px; */
    /* background-position:right bottom; */
}
main #join_frm .user_info dl dd select[name=mobile] option {
} 
/* 인증번호 받기(색상) */
main #join_frm .user_info dl dd #authentication_btn {
    color: #fff;
    background-color: #ccc;
    border: 1px solid #ccc;
    padding: 10px 22px;
    border-radius:5px;

}
/* 주소 */
main #join_frm .user_info dl dd #btn_add_ress {
    width: 300px;
    height: 40px;
    border: 1px solid #9E00B7;
    background-color: #fff;
    border-radius:5px;
    margin-top: 10px;
}
main #join_frm .user_info dl dd #btn_add_ress {}
main #join_frm .user_info dl dd #btn_add_ress + span {
    font-size: 0.875rem;
}
/* 성별 */
main #join_frm .user_info dl dd input[name=gender] {
    margin-top: 10px;
} /* 공통 */
main #join_frm .user_info dl dd input[name=gender]:checked+label {} /* 선택공통 */
main #join_frm .user_info dl dd label {} /* 공통 */
/* 생년월일 */
/* 생년월일 dd만 별도 선택자 추가 */
main #join_frm .user_info dl dt:last-of-type + dd { 
    background-color: #fff;
    border: 1px solid #9E00B7;
    border-radius:5px;
    margin-top: 10px;
}
main #join_frm .user_info dl dd input[name^=birthday]{
    border:none;
    width: 29px;
    height: 20px;
}
main #join_frm .user_info dl dd input[name^=birthday] + span {
}
/* 최종버튼 */
main #join_frm .user_info .result {
}
main #join_frm .user_info .result #join_btn {
    width: 300px;
    height: 40px;
    border: 1px solid #9E00B7;
    background-color: #fff;
    border-radius:5px;
    margin-top: 52px;
}